@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2 {
  @apply text-strongest;
}

h1 {
  @apply text-5xl font-extrabold;
}
h2 {
  @apply text-4xl font-bold;
}

th,
td {
  @apply px-4 pt-2;
}

p {
  @apply my-4;
}

a {
  @apply text-azure hover:underline;
}

img {
  @apply transition shadow hover:shadow-lg;
}

select,
input {
  @apply w-full px-3 py-1 transition border rounded hover:border-strong;
}

select {
  --icon-size: 0.75rem;
  appearance: none;
  cursor: pointer;
  background-image: url('/icons/select.svg');
  background-position: right var(--icon-size) center;
  background-repeat: no-repeat;
  background-size: var(--icon-size) var(--icon-size);
  padding-right: calc(var(--icon-size) * 3);
  @apply text-center text-strong hover:text-stronger;
}

code {
  @apply text-crimson;
}
code::before,
code::after {
  content: '`';
}
